@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Style for main page 
code help from
https://www.w3schools.com/css/css3_box-sizing.asp */ 
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
#hero-image {
    background: url(../images/FatherTed.png);
    background-size: cover;
    opacity: 0.9;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 4rem;
    color:rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    margin-bottom: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.container {
    width: 60vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/* Code help from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.column {
    display: flex;
    flex-direction: column;
}
center {
    justify-content: center;
    align-items: center;
}
.button {
    font-size: 2rem;
    padding: 1.5rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color:rgb(241, 9, 9);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(7, 7, 7) 100%)
}

.button:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(10, 10, 0, 0.7);
    transition: transform 150ms;
    transform: scale(1.05);
}

/* style for end page */
#final-score {
    text-align: center;
}
.end-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20rem;
}
input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    background: rgb(252, 0, 0);
    }

    input::placeholder {
        color:rgb(28, 26, 26)
    }
    #username {
        margin-bottom: 2rem;
        width: 100%;
        outline: none;
    }

    #end-text {
        font-size: 2rem;
        text-align: center;
    }
    #save-score-button{
        border: none;
    }
    .fas {
        margin-left: 1rem;
        font-size: 1.5;

    }

/* css to not allow to click on buttons */
.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* media queries for mobile */


