@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Style for main page 
code help from
https://www.w3schools.com/css/css3_box-sizing.asp */ 
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
#hero-image {
    background: url(../images/hero-image.png);
    background-size: cover;
    opacity: 0.9;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 4rem;
    color:rgb(28, 26, 26);
    margin-bottom: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.home-container {
    width: 60vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/* Code help from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.column {
    display: flex;
    flex-direction: column;
}
center {
    justify-content: center;
    align-items: center;
}
.button {
    font-size: 2rem;
    padding: 1.5rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color:rgb(28, 26, 26);
    background: linear-gradient(90deg, rgb(255 ,255 ,0 ) 0%, rgb(255, 255, 44) 100%)
}
